.manipulator {
  @apply relative h-full grid gap-6;
  grid-template-columns: calc(100% - 119px) 63px;
  border-radius: var(--bar-border-radius);
}

.buttons {
  @apply grid gap-4 p-3;
  grid-template-rows: repeat(auto-fit, 40px);
  background-color: var(--bar-background-color);
  border-radius: var(--bar-border-radius);
}

.arrow {
  @apply absolute w-5 left-0 top-1/2;
  transform: translate(-125%, -50%);
}

#reset {
  --active-icon-color: rgba(255, 10, 10);
}
