.template {
  @apply relative w-28 h-36 flex flex-col text-3xl;
}

.swap {
  @apply absolute top-0 left-0 w-4 h-6 cursor-pointer;
  transition: opacity 0.3s;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.formula {
  @apply flex flex-col justify-center items-center flex-1 px-5;
}
