.bar {
  @apply w-full grid justify-center p-8 gap-8 overflow-x-auto overflow-y-hidden;
  border-radius: var(--bar-border-radius);
  background-color: var(--bar-background-color);
  grid-template-columns: repeat(auto-fit, 120px);
  grid-template-rows: repeat(3, 1fr);
}

.bar_tip {
  pointer-events: none;
  z-index: 101;
  border-radius: var(--bar-border-radius);
  box-shadow: 0 0 4px 4px rgba(255, 255, 255);
}
