#compare {
  @apply h-[5rem] w-[5rem] p-3.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-57px - 50%), -50%);
  transform-origin: top left;
  > svg {
    transform: rotate(90deg);
  }
}
