.control_wrapper {
  @apply w-full grid gap-8 self-center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  font-size: 250% !important;
}

.formula_wrapper {
  @apply w-full grid gap-8 self-center;
  grid-template-columns: calc(30% - 2rem) 70%;
  grid-template-rows: 492px;
}

.content {
  @apply relative grid grid-rows-2 gap-8;
}
