@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text-color: white;
  --main-background-color: #242424;
}

.mq-editable-field,
.mq-latex-command-input,
.mq-cursor {
  border-color: white !important;
}

.mq-denominator {
  border-width: 2px !important;
}

.mq-empty {
  border-width: 2px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.mq-numerator {
  padding: 0 0.2em !important;
}

#root {
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none; // Chrome, Safari and Opera
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-style: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "SF Sans", "Roboto", "Open Sans", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  &::-ms-clear {
    display: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
div {
  -webkit-tap-highlight-color: transparent;
}
